@media screen and (max-width:1024px){
  .container{
     /*Modificado segun diseño*/
    padding: 0 .7em;
  }
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
  }
  h1{
    font-size: 1em;
    z-index: 2;
  }
}

@media screen and (max-width: 767px){
  .burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 30px;
  }
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }

  h1{
    font-size: 2em;
    z-index: 2;
  }

  .header{
    display: block;
    height: auto;
  }
  .header ol{
    display: block;
  }
  .header ol li{
    height: 50px;
  }
  .header  a{
    justify-content: center;
    height: 40px;
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: .5em;

  }
  .header  .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100%;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active{
    left: 0vw;
  }

  .project{
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center;
  }
  .project-details{
    width: auto;
    /* font-size: 16px; */
  }
  .project-course, .project-date, .project-url{
    margin: .3em 0;
    /* margin-bottom: .3em; */
  }
  .project-title{
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: 1em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: .8em;
  }
  .event{
    width: auto;
    flex-shrink: initial;
  }
  .event img{
    width: 100%;
  }
  .contact{
    height: auto;
    padding: 1em 0;
  }
}

@media screen and (max-width: 480px){
  h1{
    font-size: 1.8em;
  }
  .project .project-details{
    width: auto;
    font-size: 12px;
  }
  .event-detail{
    margin: -2em  .5em .5em;
    padding: 1em ;
  }
  .contact{
    height: auto;
    padding: 1.5em 0;
    display: block;
    text-align: center;
  }
  .social{
    padding: .8em 0;
  }
  .container .form-email button{
    margin: 1em auto;;
  }
  .container .form-email input{
    margin: .5em;
  }
  .form-email h3{
    margin-top: 0;
  }
  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px){
  h1{
    font-size: 1.2em;
    padding: 2em 1em;
  }
}
