@media screen and (max-width:1023px){
  .container{
    padding: 0 .7em; /*Modificado segun diseño*/
  }
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 3em;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
  }
  h1{
    font-size: 1em;
    z-index: 2;
  }
}

@media screen and (max-width: 767px){
  .hero{
    height: auto;
    position: relative;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  h1{
    font-size: 2em;
    z-index: 2;
  }


  .header{
    display: block;
    height: auto;
  }
  .header ol{
    display: initial;
  }
  .header ol li{
    height: 50px;
  }
  .header ol li a{
    justify-content: center;
  }
  .header .container .logo {
    text-align: center;
  }
  .project{
    display: block;
  }
  .project .project-imageContainer{
    width: auto;
    text-align: center;
  }
  .project .project-details{
    width: auto;
    font-size: 16px;
  }
  .project-course, .project-date, .project-url{
    margin: .3em 0;
    margin-bottom: .3em;
  }
  .project-title{
    font-size: 1.5em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: 1em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: .8em;
  }
  .event{
    width: auto;
    flex-shrink: initial;
  }
  .event img{
    width: 100%;
  }
  .contact{
    height: auto;
    padding: 1em 0;
  }
}

@media screen and (max-width: 480px){
  h1{
    font-size: 1.5em;
  }
  .project .project-details{
    width: auto;
    font-size: 12px;
  }
  .event-detail{
    margin: -2em  .5em .5em;
    padding: 1em ;
  }
  .contact{
    height: auto;
    padding: 1.5em 0;
    display: block;
    text-align: center;
  }
  .social{
    padding: .8em 0;
  }
  .container .form-email button{
    margin: 1em auto;;
  }
  .container .form-email input{
    margin: .5em;
  }
  .form-email h3{
    margin-top: 0;
  }
  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px){
  h1{
    font-size: 1.2em;
    padding: 2em 1em;
  }
}
